#ifndef {{ name|upper }}_REQUANTIZE_H
#define {{ name|upper }}_REQUANTIZE_H

#include <stdint.h>
#include "arm_nnfunctions.h"

static const int32_t {{ name }}_input_shape[] = {
{{ input_shape_array }}
};

static const {{ input_dtype }} {{ name }}_input[] = {
{{ input_data_array }}
};

static const {{ output_dtype }} {{ name }}_expected_output[] = {
{{ expected_output_array }}
};

#endif
