#include "{{ name }}_reduce_max.h"
#include "arm_nnfunctions.h"
{% include "common/standalone/runtime_common.j2" %}
{% from "common/standalone/runtime_common.j2" import helia_guard_declare %}

#define {{ name|upper }}_OUTPUT_SIZE ({{ output_dims.n }} * {{ output_dims.h }} * {{ output_dims.w }} * {{ output_dims.c }})
{{ helia_guard_declare(output_dtype, name ~ "_output", name|upper ~ "_OUTPUT_SIZE") }}

int32_t {{ name }}_run(
    const {{ input_dtype }}* __restrict input,
    {{ output_dtype }}* __restrict output
) {
    // Call ReduceMax kernel
    arm_cmsis_nn_status kernel_status = {{ kernel_fn }}(
        input,
        &{{ name }}_input_dims,
        &{{ name }}_axis_dims,
        output,
        &{{ name }}_output_dims
    );
    
    return kernel_status;
}

int32_t {{ name }}_test_case_run(void)
{
    HELIA_GUARD_ARM({{ name }}_output, false /* real output, not scratch: don't poison */);
    int32_t status = {{ name }}_run({{ name }}_input, {{ name }}_output);
    int failures = 0;
    HELIA_GUARD_CHECK({{ name }}_output, "{{ validation_label | default("ReduceMax") }} output", failures);
    HELIA_VALIDATE_STATUS("{{ validation_label | default("ReduceMax") }}", status);

    HELIA_VALIDATE_OUTPUTS(
        {{ validation_mode_token | default("TOLERANT_INT") }},
        {{ name }}_output,
        {{ name }}_expected_output,
        {{ name|upper }}_OUTPUT_SIZE,
        {{ validation_tolerance | default(1) }},
        {{ validation_atol }}f,
        {{ validation_rtol }}f,
        {{ validation_report_limit | default(20) }},
        failures
    );
    HELIA_VALIDATE_RETURN_FAILURES(failures);
}

{% include "common/standalone/main.j2" %}
