#include "{{ name }}_lstm_unidirectional.h"
#include "arm_nnfunctions.h"
{% include "common/standalone/runtime_common.j2" %}

#define LSTM_BUFFER_SIZE ({{ macro_prefix }}HIDDEN_SIZE * {{ macro_prefix }}BATCH_SIZE * {{ macro_prefix }}TIME_STEPS)
#define LSTM_OUTPUT_SIZE ({{ macro_prefix }}BATCH_SIZE * {{ macro_prefix }}TIME_STEPS * {{ macro_prefix }}HIDDEN_SIZE)

static {{ output_dtype }} buffer1[LSTM_BUFFER_SIZE];
static {{ output_dtype }} buffer2[LSTM_BUFFER_SIZE];
static {{ output_dtype }} buffer3[LSTM_BUFFER_SIZE];
static {{ output_dtype }} {{ name }}_output[LSTM_OUTPUT_SIZE];

static int32_t run_lstm(void)
{
{% if dtype == "s8" %}
    int32_t input_data_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int32_t forget_data_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int32_t cell_data_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int32_t output_data_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];

    int32_t input_hidden_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int32_t forget_hidden_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int32_t cell_hidden_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int32_t output_hidden_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];

    arm_vector_sum_s8(&input_data_kernel_sum[0],
                      {{ macro_prefix }}INPUT_SIZE,
                      {{ macro_prefix }}HIDDEN_SIZE,
                      &{{ data_prefix }}input_gate_input_weights[0],
                      {{ macro_prefix }}INPUT_ZERO_POINT,
                      0,
                      &{{ data_prefix }}input_gate_bias[0]);
    arm_vector_sum_s8(&forget_data_kernel_sum[0],
                      {{ macro_prefix }}INPUT_SIZE,
                      {{ macro_prefix }}HIDDEN_SIZE,
                      &{{ data_prefix }}forget_gate_input_weights[0],
                      {{ macro_prefix }}INPUT_ZERO_POINT,
                      0,
                      &{{ data_prefix }}forget_gate_bias[0]);
    arm_vector_sum_s8(&cell_data_kernel_sum[0],
                      {{ macro_prefix }}INPUT_SIZE,
                      {{ macro_prefix }}HIDDEN_SIZE,
                      &{{ data_prefix }}cell_gate_input_weights[0],
                      {{ macro_prefix }}INPUT_ZERO_POINT,
                      0,
                      &{{ data_prefix }}cell_gate_bias[0]);
    arm_vector_sum_s8(&output_data_kernel_sum[0],
                      {{ macro_prefix }}INPUT_SIZE,
                      {{ macro_prefix }}HIDDEN_SIZE,
                      &{{ data_prefix }}output_gate_input_weights[0],
                      {{ macro_prefix }}INPUT_ZERO_POINT,
                      0,
                      &{{ data_prefix }}output_gate_bias[0]);

    arm_vector_sum_s8(&input_hidden_kernel_sum[0],
                      {{ macro_prefix }}HIDDEN_SIZE,
                      {{ macro_prefix }}HIDDEN_SIZE,
                      &{{ data_prefix }}input_gate_hidden_weights[0],
                      -{{ macro_prefix }}OUTPUT_ZERO_POINT,
                      0,
                      NULL);
    arm_vector_sum_s8(&forget_hidden_kernel_sum[0],
                      {{ macro_prefix }}HIDDEN_SIZE,
                      {{ macro_prefix }}HIDDEN_SIZE,
                      &{{ data_prefix }}forget_gate_hidden_weights[0],
                      -{{ macro_prefix }}OUTPUT_ZERO_POINT,
                      0,
                      NULL);
    arm_vector_sum_s8(&cell_hidden_kernel_sum[0],
                      {{ macro_prefix }}HIDDEN_SIZE,
                      {{ macro_prefix }}HIDDEN_SIZE,
                      &{{ data_prefix }}cell_gate_hidden_weights[0],
                      -{{ macro_prefix }}OUTPUT_ZERO_POINT,
                      0,
                      NULL);
    arm_vector_sum_s8(&output_hidden_kernel_sum[0],
                      {{ macro_prefix }}HIDDEN_SIZE,
                      {{ macro_prefix }}HIDDEN_SIZE,
                      &{{ data_prefix }}output_gate_hidden_weights[0],
                      -{{ macro_prefix }}OUTPUT_ZERO_POINT,
                      0,
                      NULL);
{% else %}
    int64_t input_data_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int64_t forget_data_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int64_t cell_data_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int64_t output_data_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];

    int64_t input_hidden_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int64_t forget_hidden_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int64_t cell_hidden_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];
    int64_t output_hidden_kernel_sum[{{ macro_prefix }}HIDDEN_SIZE];

    arm_vector_sum_s8_s64(&input_data_kernel_sum[0],
                          {{ macro_prefix }}INPUT_SIZE,
                          {{ macro_prefix }}HIDDEN_SIZE,
                          &{{ data_prefix }}input_gate_input_weights[0],
                          {{ macro_prefix }}INPUT_ZERO_POINT,
                          &{{ data_prefix }}input_gate_bias[0]);
    arm_vector_sum_s8_s64(&forget_data_kernel_sum[0],
                          {{ macro_prefix }}INPUT_SIZE,
                          {{ macro_prefix }}HIDDEN_SIZE,
                          &{{ data_prefix }}forget_gate_input_weights[0],
                          {{ macro_prefix }}INPUT_ZERO_POINT,
                          &{{ data_prefix }}forget_gate_bias[0]);
    arm_vector_sum_s8_s64(&cell_data_kernel_sum[0],
                          {{ macro_prefix }}INPUT_SIZE,
                          {{ macro_prefix }}HIDDEN_SIZE,
                          &{{ data_prefix }}cell_gate_input_weights[0],
                          {{ macro_prefix }}INPUT_ZERO_POINT,
                          &{{ data_prefix }}cell_gate_bias[0]);
    arm_vector_sum_s8_s64(&output_data_kernel_sum[0],
                          {{ macro_prefix }}INPUT_SIZE,
                          {{ macro_prefix }}HIDDEN_SIZE,
                          &{{ data_prefix }}output_gate_input_weights[0],
                          {{ macro_prefix }}INPUT_ZERO_POINT,
                          &{{ data_prefix }}output_gate_bias[0]);

    arm_vector_sum_s8_s64(&input_hidden_kernel_sum[0],
                          {{ macro_prefix }}HIDDEN_SIZE,
                          {{ macro_prefix }}HIDDEN_SIZE,
                          &{{ data_prefix }}input_gate_hidden_weights[0],
                          -{{ macro_prefix }}OUTPUT_ZERO_POINT,
                          NULL);
    arm_vector_sum_s8_s64(&forget_hidden_kernel_sum[0],
                          {{ macro_prefix }}HIDDEN_SIZE,
                          {{ macro_prefix }}HIDDEN_SIZE,
                          &{{ data_prefix }}forget_gate_hidden_weights[0],
                          -{{ macro_prefix }}OUTPUT_ZERO_POINT,
                          NULL);
    arm_vector_sum_s8_s64(&cell_hidden_kernel_sum[0],
                          {{ macro_prefix }}HIDDEN_SIZE,
                          {{ macro_prefix }}HIDDEN_SIZE,
                          &{{ data_prefix }}cell_gate_hidden_weights[0],
                          -{{ macro_prefix }}OUTPUT_ZERO_POINT,
                          NULL);
    arm_vector_sum_s8_s64(&output_hidden_kernel_sum[0],
                          {{ macro_prefix }}HIDDEN_SIZE,
                          {{ macro_prefix }}HIDDEN_SIZE,
                          &{{ data_prefix }}output_gate_hidden_weights[0],
                          -{{ macro_prefix }}OUTPUT_ZERO_POINT,
                          NULL);

    // Branch-coverage probes for arm_vector_sum_s8_s64 (do not affect LSTM outputs).
    int64_t coverage_probe_sum_no_bias[{{ macro_prefix }}HIDDEN_SIZE];
    int64_t coverage_probe_sum_bias[{{ macro_prefix }}HIDDEN_SIZE];
    const int32_t coverage_probe_lhs_offset =
        ({{ macro_prefix }}INPUT_ZERO_POINT == 0) ? 1 : {{ macro_prefix }}INPUT_ZERO_POINT;

    arm_vector_sum_s8_s64(&coverage_probe_sum_no_bias[0],
                          {{ macro_prefix }}INPUT_SIZE,
                          {{ macro_prefix }}HIDDEN_SIZE,
                          &{{ data_prefix }}input_gate_input_weights[0],
                          0,
                          NULL);
    arm_vector_sum_s8_s64(&coverage_probe_sum_bias[0],
                          {{ macro_prefix }}INPUT_SIZE,
                          {{ macro_prefix }}HIDDEN_SIZE,
                          &{{ data_prefix }}input_gate_input_weights[0],
                          coverage_probe_lhs_offset,
                          &{{ data_prefix }}input_gate_bias[0]);
{% endif %}

    const cmsis_nn_lstm_gate gate_input = { {{ macro_prefix }}INPUT_GATE_INPUT_MULTIPLIER,
                                            {{ macro_prefix }}INPUT_GATE_INPUT_SHIFT,
                                            &{{ data_prefix }}input_gate_input_weights[0],
                                            &input_data_kernel_sum[0],
                                            {{ macro_prefix }}INPUT_GATE_HIDDEN_MULTIPLIER,
                                            {{ macro_prefix }}INPUT_GATE_HIDDEN_SHIFT,
                                            &{{ data_prefix }}input_gate_hidden_weights[0],
                                            &input_hidden_kernel_sum[0],
                                            &{{ data_prefix }}input_gate_bias[0],
                                            ARM_SIGMOID };

    const cmsis_nn_lstm_gate gate_forget = { {{ macro_prefix }}FORGET_GATE_INPUT_MULTIPLIER,
                                             {{ macro_prefix }}FORGET_GATE_INPUT_SHIFT,
                                             &{{ data_prefix }}forget_gate_input_weights[0],
                                             &forget_data_kernel_sum[0],
                                             {{ macro_prefix }}FORGET_GATE_HIDDEN_MULTIPLIER,
                                             {{ macro_prefix }}FORGET_GATE_HIDDEN_SHIFT,
                                             &{{ data_prefix }}forget_gate_hidden_weights[0],
                                             &forget_hidden_kernel_sum[0],
                                             &{{ data_prefix }}forget_gate_bias[0],
                                             ARM_SIGMOID };

    const cmsis_nn_lstm_gate gate_cell = { {{ macro_prefix }}CELL_GATE_INPUT_MULTIPLIER,
                                           {{ macro_prefix }}CELL_GATE_INPUT_SHIFT,
                                           &{{ data_prefix }}cell_gate_input_weights[0],
                                           &cell_data_kernel_sum[0],
                                           {{ macro_prefix }}CELL_GATE_HIDDEN_MULTIPLIER,
                                           {{ macro_prefix }}CELL_GATE_HIDDEN_SHIFT,
                                           &{{ data_prefix }}cell_gate_hidden_weights[0],
                                           &cell_hidden_kernel_sum[0],
                                           &{{ data_prefix }}cell_gate_bias[0],
                                           ARM_TANH };

    const cmsis_nn_lstm_gate gate_output = { {{ macro_prefix }}OUTPUT_GATE_INPUT_MULTIPLIER,
                                             {{ macro_prefix }}OUTPUT_GATE_INPUT_SHIFT,
                                             &{{ data_prefix }}output_gate_input_weights[0],
                                             &output_data_kernel_sum[0],
                                             {{ macro_prefix }}OUTPUT_GATE_HIDDEN_MULTIPLIER,
                                             {{ macro_prefix }}OUTPUT_GATE_HIDDEN_SHIFT,
                                             &{{ data_prefix }}output_gate_hidden_weights[0],
                                             &output_hidden_kernel_sum[0],
                                             &{{ data_prefix }}output_gate_bias[0],
                                             ARM_SIGMOID };

    const cmsis_nn_lstm_params params = { {{ macro_prefix }}TIME_MAJOR,
                                          {{ macro_prefix }}BATCH_SIZE,
                                          {{ macro_prefix }}TIME_STEPS,
                                          {{ macro_prefix }}INPUT_SIZE,
                                          {{ macro_prefix }}HIDDEN_SIZE,
                                          {{ macro_prefix }}INPUT_ZERO_POINT,
                                          {{ macro_prefix }}FORGET_TO_CELL_MULTIPLIER,
                                          {{ macro_prefix }}FORGET_TO_CELL_SHIFT,
                                          {{ macro_prefix }}INPUT_TO_CELL_MULTIPLIER,
                                          {{ macro_prefix }}INPUT_TO_CELL_SHIFT,
                                          {{ macro_prefix }}CELL_CLIP,
                                          {{ macro_prefix }}CELL_SCALE_POWER,
                                          {{ macro_prefix }}OUTPUT_MULTIPLIER,
                                          {{ macro_prefix }}OUTPUT_SHIFT,
                                          {{ macro_prefix }}OUTPUT_ZERO_POINT,
                                          gate_forget,
                                          gate_input,
                                          gate_cell,
                                          gate_output };

    cmsis_nn_lstm_context buffers = {0};
    buffers.temp1 = buffer1;
    buffers.temp2 = buffer2;
    buffers.cell_state = buffer3;
    buffers.hidden_state = NULL;

{% if dtype == "s8" %}
    arm_cmsis_nn_status result = arm_lstm_unidirectional_s8({{ data_prefix }}input_tensor, {{ name }}_output, &params, &buffers);
{% else %}
    arm_cmsis_nn_status result = arm_lstm_unidirectional_s16({{ data_prefix }}input_tensor, {{ name }}_output, &params, &buffers);
{% endif %}

    return result;
}

int32_t {{ prefix }}_{{ name }}_test_case_run(void)
{
    int32_t status = run_lstm();
    HELIA_VALIDATE_STATUS("{{ validation_label | default("LSTM") }}", status);

    int failures = 0;
    HELIA_VALIDATE_OUTPUTS(
        {{ validation_mode_token | default("EXACT_INT") }},
        {{ name }}_output,
        &{{ data_prefix }}output[0],
        LSTM_OUTPUT_SIZE,
        {{ validation_tolerance | default(1) }},
        {{ validation_atol }}f,
        {{ validation_rtol }}f,
        {{ validation_report_limit | default(8) }},
        failures
    );
    HELIA_VALIDATE_RETURN_FAILURES(failures);
}

{% include "common/standalone/main.j2" %}
