#include "{{ name }}_gather.h"
#include "arm_nnfunctions.h"
{% include "common/standalone/runtime_common.j2" %}
{% from "common/standalone/runtime_common.j2" import helia_guard_declare %}

#define {{ name|upper }}_OUTPUT_SIZE ({{ output_size }})
{{ helia_guard_declare(output_dtype, name ~ "_output", name|upper ~ "_OUTPUT_SIZE") }}

static cmsis_nn_gather_params {{ name }}_params = {
    .axis = {{ axis }},
    .batch_dims = {{ batch_dims }},
    .input_rank = {{ input_rank }},
    .coords_rank = {{ coords_rank }},
};

int32_t {{ name }}_run(const {{ input_dtype }}* __restrict input,
                                   const int32_t* __restrict indices,
                                   {{ output_dtype }}* __restrict output)
{
    arm_cmsis_nn_status kernel_status = {{ kernel_fn }}(
        input,
        &{{ name }}_input_dims,
        indices,
        &{{ name }}_indices_dims,
        &{{ name }}_params,
        output,
        &{{ name }}_output_dims
    );

    return kernel_status;
}

int32_t {{ name }}_test_case_run(void)
{
    HELIA_GUARD_ARM({{ name }}_output, false /* real output, not scratch: don't poison */);
    int32_t status = {{ name }}_run({{ name }}_input, {{ name }}_indices, {{ name }}_output);
    HELIA_VALIDATE_STATUS("{{ validation_label | default("Gather") }}", status);

    int failures = 0;
    HELIA_GUARD_CHECK({{ name }}_output, "{{ validation_label | default("Gather") }} output", failures);
    HELIA_VALIDATE_OUTPUTS(
        {{ validation_mode_token | default("EXACT_INT") }},
        {{ name }}_output,
        {{ name }}_expected_output,
        {{ name|upper }}_OUTPUT_SIZE,
        {{ validation_tolerance | default(1) }},
        {{ validation_atol }}f,
        {{ validation_rtol }}f,
        {{ validation_report_limit | default(20) }},
        failures
    );
    HELIA_VALIDATE_RETURN_FAILURES(failures);
}

{% include "common/standalone/main.j2" %}
