#include "{{ name }}_tile.h"
#include "arm_nnfunctions.h"
{% include "common/standalone/runtime_common.j2" %}
{% from "common/standalone/runtime_common.j2" import helia_guard_declare %}

#define {{ name|upper }}_OUTPUT_SIZE {{ output_size }}
{{ helia_guard_declare(c_type, name ~ "_output", name|upper ~ "_OUTPUT_SIZE") }}

int32_t {{ name }}_test_case_run(void)
{
    HELIA_GUARD_ARM({{ name }}_output, false /* real output, not scratch: don't poison */);
    arm_cmsis_nn_status status = {{ kernel_fn }}(
        {{ name }}_input,
        &{{ name }}_params,
        {{ name }}_output
    );
    int failures = 0;
    HELIA_GUARD_CHECK({{ name }}_output, "Tile output", failures);
    HELIA_VALIDATE_STATUS("Tile", status);

    HELIA_VALIDATE_OUTPUTS(
        {{ validation_mode_token | default("TOLERANT_INT") }},
        {{ name }}_output,
        {{ name }}_expected_output,
        {{ name|upper }}_OUTPUT_SIZE,
        {{ validation_tolerance | default(0) }},
        {{ validation_atol }}f,
        {{ validation_rtol }}f,
        {{ validation_report_limit | default(20) }},
        failures
    );
    HELIA_VALIDATE_RETURN_FAILURES(failures);
}

{% include "common/standalone/main.j2" %}
