#ifndef {{ prefix|upper }}_TILE_H
#define {{ prefix|upper }}_TILE_H

#include <stdint.h>
#include "arm_nnfunctions.h"
#include "arm_nn_types.h"

static const int32_t {{ name }}_input_shape[] = { {{ input_shape | join(', ') }} };
static const int32_t {{ name }}_multiples[] = { {{ multiples | join(', ') }} };

static const cmsis_nn_tile_params {{ name }}_params = {
    .rank = {{ rank }},
    .input_shape = {{ name }}_input_shape,
    .multiples = {{ name }}_multiples,
};

static const {{ c_type }} {{ name }}_input[] = {
{{ input_data_array }}
};

static const {{ c_type }} {{ name }}_expected_output[] = {
{{ expected_output_array }}
};

#endif
