#include "{{ name }}_shape.h"
{% include "common/standalone/runtime_common.j2" %}

#define {{ name|upper }}_OUTPUT_SIZE ({{ output_size }})
static int32_t {{ name }}_output[{{ name|upper }}_OUTPUT_SIZE];

static void {{ name }}_shape_ref(void)
{
    const int32_t dims[] = { {{ shape_array }} };
    for (int i = 0; i < {{ output_size }}; ++i) {
        {{ name }}_output[i] = dims[i];
    }
}

int32_t {{ prefix }}_{{ name }}_test_case_run(void)
{
    {{ name }}_shape_ref();

    int failures = 0;
    const int output_size = {{ name|upper }}_OUTPUT_SIZE;
    const int32_t *act = {{ name }}_output;
    const int32_t *exp = {{ name }}_expected_output;

    for (int i = 0; i < output_size; i++) {
        if (act[i] != exp[i]) {
            failures++;
            if (failures <= 20) {
                printf("Mismatch[%d]: exp=%ld got=%ld\r\n", i, exp[i], act[i]);
            }
        }
    }

    printf("%d Failures\r\n", failures);
    return failures;
}

{% include "common/standalone/main.j2" %}
