#ifndef {{ prefix|upper }}_SHAPE_H
#define {{ prefix|upper }}_SHAPE_H

#include <stdint.h>

static const float {{ name }}_input[] = {
{{ input_data_array }}
};

static const int32_t {{ name }}_expected_output[] = {
{{ expected_output_array }}
};

#endif
