#ifndef {{ prefix|upper }}_SLICE_H
#define {{ prefix|upper }}_SLICE_H

#include <stdint.h>

static const int32_t {{ name }}_input_shape[] = { {{ input_shape_array }} };
static const int32_t {{ name }}_begin[] = { {{ begin_array }} };
static const int32_t {{ name }}_size[] = { {{ size_array }} };

static const {{ input_dtype }} {{ name }}_input[] = {
{{ input_data_array }}
};

static const {{ output_dtype }} {{ name }}_expected_output[] = {
{{ expected_output_array }}
};

#endif
